* {
    text-align: center;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background-color: #ebebeb;
    width: 100%;
}

nav {
    background-color: #ebebeb;
    width: 100%;
}

section {
    background-color: #ebebeb;
    width: 50%;
    float: left;
}

article {
    color: #ebebeb;
    background-color: #777;
}

#h {
    color: #777;
    background: #ebebeb;
}

#p {
    color: #777;
    background: #ebebeb;
}

aside {
    background-color: #ebebeb;
    width: 40%;
    float: right;
    margin-right: -40px;
}

footer {
    margin-top: 20px;
    background-color: #ebebeb;
    width: 100%;
    float: left;
}